.todo-list .todo-list__items {
  max-height: 330px;
  overflow: auto;
}
.todo-list .todo-list__items .todo {
  border-bottom: solid 1px #e4e5f1;
}

.todo-list__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
  color: #9394a5;
}
.todo-list__footer .todo-list__filter {
  display: flex;
  flex-direction: row nowrap;
  cursor: pointer;
}
.todo-list__footer .todo-list__filter p {
  margin: 0 4px;
}
.todo-list__footer .todo-list__clear-completed {
  cursor: pointer;
}