.todo-list {
    &__add-item {
        display: flex;
        align-items:center;
        height: 55px;  
        margin-bottom: 20px;
        padding: 20px 20px 20px 60px;
        color: hsl(236, 9%, 61%);
        box-shadow: 0px 0px 20px hsl(240, 2%, 74%);      
    }

    &__title {
        width: 350px; 
    }
}



