.create-new-todo {
    margin-bottom: 20px;
    padding: 20px;
    color: hsl(236, 9%, 61%);
    height: 55px;
    display: flex;
    align-items:center;

    & #create-new-todo__input-text{
        width: 350px; 
    }

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        margin-right: 20px;
        border: solid 1px hsl(236, 9%, 61%) ;
        border-radius: 50%;
        flex: 0 0 auto;
    }
}