
body.darkTheme {
    background-color: hsl(235, 21%, 11%);
    background-image: url(../img/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

body.darkTheme .container {
    background-color: hsl(235, 24%, 19%);
    box-shadow: 0px 0px 20px hsl(0, 0%, 3%);
}

body.darkTheme .todo-list__title {
    background-color: hsl(235, 24%, 19%);
    color: hsl(236, 9%, 61%);
}

body.darkTheme .todo-list__items-wrapper {

    & .todo-list__todo {
        border-bottom: solid 1px hsl(237, 14%, 26%);
        color: hsl(236, 9%, 61%);
    
        &:hover {
            background-color: hsl(235, 21%, 11%);
        }
    }
}
    
@media (max-width: 530px) {
    body.darkTheme {
        background-color: hsl(235, 21%, 11%);
        background-image: url(../img/bg-mobile-dark.jpg);
        background-repeat: no-repeat;
        background-position: 0 0/100% auto;
    }
}