header {
    width: 500px;
    margin: 100px 0px 30px;
    display: flex;
    justify-content: space-between;

    font-weight: 700;
    font-size: 3rem;
    color: hsl(0, 0%, 98%);
    letter-spacing: 10px;

    & #toggleThemeBtn {
        cursor: pointer;
    }
    

}

@media (max-width:530px) {
    
    header {
        width: 365px;
    }

}