.todo-list__items-wrapper {
    color: hsl(235, 19%, 35%);

    & .todo-list__items {
        height: 330px;
        overflow: auto;

        & .todo-list__todo {
            border-bottom: solid 1px hsl(236, 33%, 92%);
            height: 55px;
            padding: 0 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color:  hsl(240, 23%, 95%);
                border-radius: 5px;
            }

            & .todo-list__todo-content {
                width: 350px;
            }

            & .todo-list__todo-delete-btn{
                padding: 10px;
                order: 999;
                margin-left: auto;
            
                &:hover {
                    display: block;
                }
            }
        }
    }

    & .todo-list__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 20px;
        color: hsl(236, 9%, 61%);
    
        & .todo-list__filter{
            display: flex;
            flex-direction: row nowrap;
            justify-content: center;
        }  

        & .todo-list__filter-items {
            margin: 0 4px;
            cursor: pointer;

            &:hover {
                color: hsl(220, 98%, 61%);  
            }
        }
    }
}


@media (max-width: 530px) {
    .todo-list__items-wrapper {

        & .todo-list__items {

            & .todo-list__todo {
                
                & .todo-list__todo-content {
                    width: 240px;
                }
            }
        }

        & .todo-list__footer {
            display: flex;
            justify-content: center;
            text-align: center;
    
            & .todo-list__counter, .todo-list__filter--clear-completed{
                display: none;
            }
        }
    } 
}



