.todo-list {

    &__items-wrapper {
        color: hsl(235, 19%, 35%);
    }
    &__items {
        height: 330px;
        overflow: auto;
    }
    &__todo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 55px;
        padding: 0 20px;
        border-bottom: solid 1px hsl(236, 33%, 92%);        
        cursor: pointer;
    
            &:hover {
                background-color:  hsl(240, 23%, 95%);
                border-radius: 5px;
            }
    }
    &__todo-content {
        width: 350px;
    }
    
    &__todo-delete-btn{
        padding: 10px;
        order: 999;
        margin-left: auto;

        &:hover {
            display: block;
        }
    }

        
    
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 20px;
        color: hsl(236, 9%, 61%);
    }
    
    &__filter{
        display: flex;
        flex-direction: row nowrap;
        justify-content: center;
    }  
    
    &__filter-items {
        margin: 0 4px;
        cursor: pointer;

        &:hover {
            color: hsl(220, 98%, 61%);  
        }
    }    
}



@media (max-width: 530px) {
    .todo-list {
        
        &__todo-content {
            width: 240px;
        }
 
        &__footer {
            display: flex;
            justify-content: center;
            text-align: center;
        }
        &__counter,
        &__filter--clear-completed{
            display: none;
        }
    }
}
   



